mixin addAppModal()
    #AddGameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='AddGameModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#AddGameModalLabel.modal-title Add Game
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    form#AddGameForm(action=host, method='POST', enctype='multipart/form-data')
                        .form-group.row
                            label.col-sm-2.col-form-label Name
                            .col-sm-10
                            input.form-control(type='text', name='name')
                        .form-group.row
                            label.col-sm-2.col-form-label Price
                            .col-sm-10
                            input.form-control(type='text', name='price')
                        .form-group.row
                            label.col-sm-2.col-form-label Description
                            .col-sm-10
                            textarea.form-control(name='description')
                        .form-group.row
                            .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10.dr-category
                                select.selection-2.category(name='category')
                                    each category in categories
                                        option= category.name
                        
                                #dropDownSelect2.dropDownSelect-2
                        .custom-file.form-group
                            input#validatedCustomFile.custom-file-input(type='file', accept='.zip', name='zip', required='')
                            label.custom-file-label Choose code zip...
                        .custom-file.form-group
                            input#validatedCustomFile.custom-file-input(type='file', accept='image/*', name='image', required='')
                            label.custom-file-label Choose image...
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='submit', form='AddGameForm') Add
                script(type='text/javascript').
                    $(".dr-category").select2({
                        minimumResultsForSearch: 20,
                        dropdownParent: $('#dropDownSelect2 .dropDownSelect-2')
                    });