include nav.jade
include addAppModal.jade

doctype html
html(lang='en')
  head
    title Product
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='static/vendor/images/icons/favicon.png')
    // ===============================================================================================
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/fonts/themify/themify-icons.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/fonts/elegant-font/html-css/style.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/slick/slick.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/noui/nouislider.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='static/vendor/css/util.css')
    
  body
    
    +nav(navItems, pageHasSearch, null, host)
    +addAppModal()

    //- body.animsition
    // Header
    // Content page
    section.bgwhite.p-t-55.p-b-65
      .container
        .row
          .col-sm-6.col-md-4.col-lg-3.p-b-50
            .leftbar.p-r-20.p-r-0-sm
              // 
              h4.m-text14.p-b-7
                | Categories
              ul.p-b-54
                each category in categories
                  li.p-t-4
                    a.s-text13(href=category.href)= category.name
                      
                  
          .col-sm-6.col-md-8.col-lg-9.p-b-50
            .flex-sb-m.flex-w.p-b-35
              .flex-w
                .bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                  select(id="sorting")
                    each sortParam in sortParams
                      option=sortParam
                    
              span.s-text8.p-t-5.p-b-5= `Showing ${(curentPageIndex - 1) * 20 + count} of ${count} results`
                
            // Product
            .row
              if games
                each game in games
                  .col-sm-12.col-md-6.col-lg-4.p-b-50
                    // Block2
                    .block2
                      .block2-img.wrap-pic-w.of-hidden.pos-relative
                        img(src=host+"files/games/images/" + game.fileId)
                        .block2-overlay.trans-0-4
                          .block2-btn-addcart.w-size1.trans-0-4
                            button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4(onclick="window.location.replace('"+ host + "files/games/" + game.fileId + "/index.html');")
                              | Play
                      .block2-txt.p-t-20
                        a.block2-name.dis-block.s-text3.p-b-5(href=game._id)=game.name
                        span.block2-price.m-text6.p-r-5= game.price <= 0? "Free": game.price

            .pagination.flex-m.flex-w.p-t-26
              - for (var x = 0; x < ((count - count%12)/12) ; x++)
                if x == curentPageIndex
                  a.item-pagination.flex-c-m.trans-0-4.active-pagination(href='#')= x
                else
                  a.item-pagination.flex-c-m.trans-0-4(href='#')= x
    // Footer
    // Back to top
    #myBtn.btn-back-to-top.bg0-hov
      span.symbol-btn-back-to-top
        i.fa.fa-angle-double-up(aria-hidden='true')
    // Container Selection
    #dropDownSelect2.dropDownSelect2-sort
    // ===============================================================================================
    // ===============================================================================================
    script(type='text/javascript', src='static/vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(type='text/javascript', src='static/vendor/bootstrap/js/popper.js')
    // ===============================================================================================
    script(type='text/javascript', src='static/vendor/select2/select2.min.js')

    
    script(type='text/javascript', src='static/vendor/daterangepicker/moment.min.js')
    script(type='text/javascript', src='static/vendor/daterangepicker/daterangepicker.js')
    
    script(type='text/javascript', src='static/vendor/slick/slick.min.js')
    script(type='text/javascript', src='static/vendor/js/slick-custom.js')
    
    script(type='text/javascript', src='static/vendor/sweetalert/sweetalert.min.js')

    script(type='text/javascript', src='static/vendor/noui/nouislider.min.js')
    script(src='static/vendor/js/main.js')

    script.
      $('#sorting').change(function(){ 
        var value = $(this).val();
        insertParam("sort", value);
      });
      
