include nav.jade
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Sign Up Form by Colorlib
    link(rel='stylesheet', href='../static/css/style.css')
  body
    
    +nav(navItems, pageHasSearch, null,host)
    .main
      section.signup
        .container
          .signup-content
            form#signup-form.signup-form(method='POST' action=host+"account/login")
              h2.form-title Log In
              .form-group
                input#email.form-input(type='email', name='login', placeholder='Your Email or user name')
              .form-group
                input#password.form-input(type='text', name='password', placeholder='Password')
                span.zmdi.zmdi-eye.field-icon.toggle-password(toggle='#password')
              .form-group
                input#submit.form-submit(type='submit', name='submit', value='LogIn')
            p.loginhere
              | Have't account ? 
              a.loginhere-link(href='/account/register') Create account here
    script(src='../static/vendor/jquery/jquery.min.js')

