mixin nav(items, search, modal, host)
    link(rel='stylesheet', href=host+'static/vendor/css/bootstrap.css')
    script(src=host+'static/vendor/jquery/jquery-3.2.1.min.js')
    script(src=host+'static/vendor/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href=host+'static/vendor/css/main.css')

    #AddGameCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='AddCategoryModal', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#AddCategoryModalLabel.modal-title Add Categoty
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    form#AddCategoryForm(action=host + "category", method='POST', enctype='multipart/form-data')
                        .form-group.row
                            label.col-sm-2.col-form-label Name
                            .col-sm-10
                            input.form-control(type='text', name='name')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='submit', form='AddCategoryForm') Add        

    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        =modal
        a.navbar-brand(href='#') TSGames
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                each item in items 
                
                    +navItem(item)
            if search
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

mixin navItem(item)
    if item.type === "link"
        li.nav-item
            a.nav-link(href = item.href)=item.text
    if item.type === "dropdown"
        li.nav-item.dropdown
            each dropdown in item.childs
                a.dropdown-item(href=dropdown.href)=dropdown.text
    if item.type === "button"
        li.nav-item
            button(class= "btn " + item.class type="button" onclick=item.onclick)= item.text
