doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Sign Up Form by Colorlib
    link(rel='stylesheet', href='../static/css/style.css')
  body
    .main
      section.signup
        .container
          .signup-content
            form#signup-form.signup-form(method='POST' action=host+"account/register" name="registerForm")
              h2.form-title Create account
              .form-group
                input#name.form-input(type='text', name='name', placeholder='Your Name')
              .form-group
                input#email.form-input(type='email', name='email', placeholder='Your Email')
              .form-group
                input#password.form-input(type='text', name='password', placeholder='Password')
                span.zmdi.zmdi-eye.field-icon.toggle-password(toggle='#password')
              .form-group
                button#submit.form-submit() Register
            p.loginhere
              | Have already an account ? 
              a.loginhere-link(href='/account/login') Login here
    

